<% layout("/layouts/boilerplate.ejs") %>

    <div class="row mt-4">
        <h3 class="col-6 offset-3">Login</h3>
        <div class="col-6 offset-3">
            <form method="POST" action="/login" class="needs-validation mb-2" novalidate>
                <div class="mt-3">
                    <label for="usernamme" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                    <!-- <div class="invalid-feedback">
                        Please entre your username*
                    </div> -->
                </div>

                <div class="mt-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                    <!-- <div class="invalid-feedback">
                        Please entre your password*
                    </div> -->
                </div>
                <button class="btn btn-success mt-4">Login</button>
            </form>
        </div>
    </div>